<!DOCTYPE html>
<html>
    <head>
    	<title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
  
    </head>
    <body>
     <!--  <h1>This is dynamic index of {{title}}</h1> -->
     <div class="main-content">
      {{>header}}

<form>
 <input placeholder="Location">
 <button>Search</button>
</form>
  </div>
     {{>footer}}

     <p id="message-1"></p>
     <p id="message-2"></p>
  <script src="/js/app.js"></script> 
  <!-- the script has to be in the bottom -->
</body>
          
          
</html>

